/* GENERAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 70%;
    margin: 20px auto;
}

.product_list {
    list-style-type: none;
    padding: 0 50px;
    cursor: default;
}

.product_list .product {
    width: 33%;
    display: inline-block;
    margin: 30px auto;
    position: relative;
}


/* PRODUCT IMAGES */
.product img {
    width: 100%;
}

.product img:last-of-type {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.product:hover img:last-of-type {
    display: block;
}

/* PRODUCT DESCRIPTION */
.product .brand {
    font-size: 12px;
}

.product_name {
    font-weight: bolder;
}
.price {
    font-size: 14px;
}

.discounted {
    color: #ff0000;
    font-weight: bold ;
}

.full {
    text-decoration-line: line-through ;
}

/* LABELS */
.label {
    position: absolute;
    top: 80%;
    left: 0;
    font-size: 13px;
    font-weight: bold;
    color: white;
}

.label .discount {
    background-color: #eb0037;
    padding: 4px;
}

.label .sustainability {
    background-color: #00875a;
    padding: 4px;
}

.heart {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: white;
    padding: 10px;
    font-size: 18px;
    padding: 4px 10px;
}

.heart:hover {
    color: #eb0037;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #eb0037;
}


/* UTILITIES */

.dis_b {
    display: block;
}